<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 cursorStyle">
            <div class="card border-primary">
                <div class="card-header"><i class="bi bi-people text-primary"></i> Users</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-primary">
                <div class="card-header"><i class="bi bi-lesson text-primary"></i> Lessons</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-info">
                <div class="card-header"><i class="bi bi-x-octagon text-info"></i> Other</div>
            </div>
        </div>
    </div>
</div>